html,
body{
    margin: 0;
    padding: 0;
}
body{
    background-color:black;
}
.piano{
    margin-top: 200px;
    margin-left: 150px;
    height: 7vw;
}
.agpiano{
    float: left;
    margin-left: 4px;
    height: 30vh;
    width: 2.45vw;
    box-shadow: inset 0px 0px 30px 20px white;
    border: 1px solid white;
    border-radius: 4px;
    outline: none;
}

.agpiano.CSS{
    box-shadow: inset 0px 0px 30px 20px rgba(13, 240, 236, .5);
    color: rgb(100,87,0);
}
p{
    margin-top: 140px;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 1vw;
}
#none{
    opacity: 0;
}



.qarapiano{
    position: absolute;
    height: 10vw;
    width: 1.8vw;
    margin-top: 0;
    margin-left: -1213px;
    box-shadow: inset 0px 0 px 10px 5px black;
    background: linear-gradient(to bottom, black 0%,gray 100%);
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}


.Q1-key{
    margin-left: -894px;
}
.qarapiano.Active{
    background: rgb(8, 117, 115);
    
}

.Q2-key{
    margin-left: -859px;
}

.Q3-key{
    margin-left: -789px;
}

.Q44-key{
    margin-left: -753px;
}
.Q5-key{
    margin-left: -718px;
}

.Q6-key{
    margin-left: -648px;
}

.Q7-key{
    margin-left: -611px;
}

.Q8-key{
    margin-left: -540px;
}

.Q9-key{
    margin-left: -504px;
}

.Q10-key{
    margin-left: -469px;
}

.Q11-key{
    margin-left: -399px;
}

.Q12-key{
    margin-left: -365px;
}

.Q13-key{
    margin-left: -294px;
}

.Q14-key{
    margin-left: -259px;
}

.Q15-key{
    margin-left: -224px;
}

.Q16-key{
    margin-left: -153px;
}

.Q17-key{
    margin-left: -116px;
}


div{
    margin-top: 60px;
    font-family: 'Nanum Gothic', sans-serif;
    color: antiquewhite;
    
}
#muellif{
    position: absolute;
    margin-top: 150px;
    margin-left: 40%;
    font: 800 20px ;
    color: aliceblue;
   
}
.piano{
    color: antiquewhite;
}
